{% extends 'master/index.html' %}
{% load static %}
{% block content %}
    
    <!-- Page-header start -->
    <div class="page-header card" style="margin-top: 2px;">
        <div class="card-block">
            <h5 class="m-b-10">Change Password</h5>
            <ul class="breadcrumb-title b-t-default p-t-10">
                <li class="breadcrumb-item">
                    <a href="index.html"> <i class="fa fa-home"></i> </a>
                </li>
                    <li class="breadcrumb-item"><a href="#!">Pages</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Change Password</a>
                    </li>
            </ul>
        </div>
    </div>
    <!-- Page-header end -->    
    {% if messages %}
    {% for message in messages %}
        <center><h6 style="color: rgb(31, 95, 31);">{{message}}</h6></center>
    {% endfor %}
    {% endif %}          
    <div class="page-body">
        <div class="row">
            <div class="col-sm-6" style="width: 50%; margin: auto;">
                <div class="card">
                    
                    <div class="card-block">
                        <h4 class="sub-title">CHANGE PASSWORD</h4>
                        
                        <form method="post" action="/change_password/" id="myForm">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-12">
                                    <label for="cp">Current password</label>
                                    <input type="password" class="form-control" name="cpassword" id="cp">
                                </div>
                                <div class="col-12">
                                    <label for="pas">New password</label>
                                    <input type="password" class="form-control" name="password" id="pas">
                                </div>
                                <div class="col-12">
                                    <label for="cpa">Confirm password</label>
                                    <input type="password" class="form-control" name="cpassw" id="cpa">
                                </div>
                            </div>
                            <input type="submit" class="btn btn-grd-primary" value="submit" style="float: right;">
                               
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'Validation/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'Validation/jquery_validate.js' %}"></script>
    <script src="{% static 'Validation/additional_validate.js' %}"></script>
    <script>
        (function ($, W, D)
        {
        var JQUERY4U = {};
        JQUERY4U.UTIL =
        {
        setupFormValidation: function ()
        {
        $.validator.addMethod(
        "regex",
        function(value, element, regexp) {
        var check = false;
        return this.optional(element) || regexp.test(value);
        },
        "Not a valid Input."
        );
        
        //form validation rules
        $("#myForm").validate({
        ignore: [],
        rules: {
                    
                    password: {
                        required: true,
                         regex : /^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#*$%^&*()])[A-Za-z0-9@#*$%^&*()]+$/,
                         minlength: 5,
                        maxlength: 15,
        
                    },
                    cpassw: {
                        required: true,
                           regex : /^[A-Za-z0-9@#*]+$/,
                           minlength: 5,
                          maxlength: 15,
                      equalTo: "#pas"
        
                    },
                    
                    
                  },
                  messages: {

                    password: "Please Enter Valid Password Name(8-15 digit alphanumeric  password  and must include @#*!%^& special character,any Number",
                    cpassw: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",
                    
        },
        submitHandler: function (form) {
        form.submit();
        }
        });
        }
        }
        //when the dom has loaded setup form validation rules
        $(D).ready(function ($) {
        JQUERY4U.UTIL.setupFormValidation();
        });
        })(jQuery, window, document);
        </script>
{% endblock content %}