{% extends 'master/index.html' %}

{% block content %}
    
    <!-- Page-header start -->
    <div class="page-header card" style="margin-top: 2px;">
        <div class="card-block">
            <h5 class="m-b-10">Reservation Details</h5>
            <ul class="breadcrumb-title b-t-default p-t-10">
                <li class="breadcrumb-item">
                    <a href="index.html"> <i class="fa fa-home"></i> </a>
                </li>
                    <li class="breadcrumb-item"><a href="#!">Pages</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#!">Reservation Details</a>
                    </li>
            </ul>
        </div>
    </div>
    <!-- Page-header end -->    
    {% if messages %}
    {% for message in messages %}
        <center><h6 style="color: rgb(31, 95, 31);">{{message}}</h6></center>
    {% endfor %}
    {% endif %}             
    <div class="page-body">
        <div class="row">
            {% if data %}
            <div class="col-sm-12">
                <div class="card tabs-card">
                    <div class="card-block p-0">              
                        <div class="tab-content card-block">              
                            <table class="table">
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Book Details</th>
                                    <th>Member Details</th>
                                    <th>Reservation Date</th>
                                    <th>Approve for borrow</th>
                                </tr>
                                {% for i in data %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><img src="{{i.b.image}}" alt="prod img" class="img-fluid" style="width: 80px;height: 100px;"></td>
                                    <td>Book Title : {{i.b.book_title}} <br>
                                        Author : {{i.b.author}}
                                    </td>
                                    <td>Name {{i.m.name}} <br>
                                        Email : {{i.m.email}} <br>
                                        Contact Number : {{i.m.contact_no}} <br>
                                        Address : {{i.m.address}} <br>
                                        Membership ID : {{i.m.membership_id}}<br>                                    
                                    </td>
                                    <td>Reservation Date : {{i.reserved_date}}
                                    </td>
                                    <td>
                                        {% if i.b.no_of_copies == 0 %}
                                        <b style="color: rgb(233, 51, 51);">Copies Not Available</b>
                                        {% else %}
                                        <a href="/approve_borrow?b_id={{i.b_id}}&m_id={{i.m.m_id}}&br_id={{i.br_id}}&rdate={{i.reserved_date|date:'Y-m-d'}}" class="btn-sm btn-grd-primary">Approve to borrow</a></td>
                                        {% endif %}
                                </tr>
                                {% endfor %}
                            </table>      
                        </div>
                    </div>
                </div>
            </div>
            
            {% endif %}
        </div>
    </div>
{% endblock content %}