{% extends 'member/index.html' %}
{% load static %}

{% block content %}
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-4">Request status</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Request status</li>
            </ol>
        </nav>
    </div>
</div>

{% if messages %}
{% for message in messages %}
    <center><h5 style="color: rgb(31, 95, 31);">{{message}}</h5></center>
{% endfor %}
{% endif %} 



<div class="container-xxl service py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <!-- <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Nomination detais</p> -->
            <h1 class="display-5 mb-5">Request status</h1>
        </div>
        {% if data %}
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-md-12">
                <div class="tile">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Image</th>
                        <th>Book Details</th>
                        <th>Member Details</th>
                        <th>Request Status</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><img src="{{i.b.image}}" alt="prod img" class="img-fluid" style="width: 80px;height: 100px;"></td>
                        <td>Book Title : {{i.b.book_title}} <br>
                            Author : {{i.b.author}}
                        </td>
                        <td>Name {{i.m.name}} <br>
                            Membership ID : {{i.m.membership_id}}<br>                                    
                        </td>
                        <td>{% if i.status == 'request' or i.status == 'request_home' %}
                            <b style="color: blue;">Waiting For Approval</b>
                            {% elif i.status == 'deliver' %}
                            <b style="color: green;">Approved</b>
                            {% elif i.status == 'rejected' %}
                            <b style="color: rgb(194, 24, 24);">Your request has been rejected for some reasons try again later</b>
                            {% elif i.status == 'no_delivary' %}
                            <b style="color: rgb(194, 24, 24);">No Home Delivary</b>
                            {% else %}
                            <b style="color: green;">Book Delivered on {{i.borrowed_date}}</b>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        {% else %}
                <h5>You Have No Any reservations</h5>
{% endif %}
    </div>
</div>



      
{% endblock content %}